 .main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 2px solid black;
            background-color: antiquewhite;
            width: 80%;
            height: 550px;
            gap: 50px;
        }
        .subdiv1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
        }
        .subdiv2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
        }